################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/marketplace/obj/Debug/net6.0-windows
./idea
./vs
./marketplace/.vs
./marketplace/bin
./marketplace/obj
/.vs/marketplace/FileContentIndex
/marketplace/bin/Debug/net6.0-windows7.0/cs-CZ
