################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/marketplace/obj/Debug/net6.0-windows
./idea
